<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}

    <meta charset="UTF-8" />
    <title>Доступные заявки</title>
    <link rel="stylesheet" href="{% static 'styling/base.css' %}" />
    <link rel="stylesheet" href="{% static 'styling/layout.css' %}" />
    <link rel="stylesheet" href="{% static 'styling/components.css' %}" />
    <link rel="stylesheet" href="{% static 'styling/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'styling/inline-edit.css' %}" />

</head>
<body>
    <header>
        <h1>Название</h1>
        {% if user.is_authenticated %}
          <p class="user-greeting">Привет, {{ user.username }}!</p>
          <nav>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
              {% csrf_token %}
              <button class="btn btn-logout" type="submit">Выйти</button>
            </form>
            <!-- Navigation links -->
              <a href="{% url 'home' %}" class="btn-link">Главная</a>
            <a href="{% url 'profile' %}" class="btn-link">Профиль</a>
            <a href="{% url 'requests' %}" class="btn-link">Мои заявки</a>
            <a href="{% url 'available_requests' %}" class="btn-link">Доступные заявки</a>
            <a href="{% url 'request' %}" class="btn-link">Новая заявка</a>
          </nav>
        {% else %}
          <nav>
            <a href="{% url 'register' %}" class="btn-link">Регистрация</a>
            <a href="{% url 'login' %}" class="btn-link">Вход</a>
          </nav>
        {% endif %}
    </header>

    <div class="center-container">
        <div class="content-wrapper">
            <div class="filters">
                <form method="get" action="{% url 'available_requests' %}" class="filters-form">
                        <label for="filter-genre">Жанр:</label>
                    <select id="filter-genre" name="genre">
                        <option value="" {% if not selected_genre %}selected{% endif %}>Все</option>
                        <option value="genre1" {% if selected_genre == 'genre1' %}selected{% endif %}>Жанр 1</option>
                        <option value="genre2" {% if selected_genre == 'genre2' %}selected{% endif %}>Жанр 2</option>
                        <option value="genre3" {% if selected_genre == 'genre3' %}selected{% endif %}>Жанр 3</option>
                        <option value="genre4" {% if selected_genre == 'genre4' %}selected{% endif %}>Жанр 4</option>
                    </select>

                    <label for="filter-subscribers">Подписчики:</label>
                    <select id="filter-subscribers" name="groupsize">
                        <option value="" {% if not selected_groupsize %}selected{% endif %}>Все</option>
                        <option value="size1" {% if selected_groupsize == 'size1' %}selected{% endif %}>&lt;100</option>
                        <option value="size2" {% if selected_groupsize == 'size2' %}selected{% endif %}>100-500</option>
                        <option value="size3" {% if selected_groupsize == 'size3' %}selected{% endif %}>500-1000</option>
                        <option value="size4" {% if selected_groupsize == 'size4' %}selected{% endif %}>&gt;1000</option>
                    </select>
                    <button type="submit" id="apply-filter">Фильтровать</button>
                </form>
            </div>

            <div class="page-header">Доступные заявки</div>
                <div class="requests-container">
                    {% if requests %}
                        {% for req in requests %}
                            <div class="request-card">
                                <div class="request-title">Название: {{ req.book_name }}</div>
                                <div class="request-info">Пользователь: {{ req.user.username }}</div>
                                {% if req.user.profile.genre %}
                                    <div class="request-info">
                                        Жанр: {{ req.user.profile.get_genre_display }}
                                    </div>
                                {% endif %}
                                {% if req.user.profile.groupsize %}
                                    <div class="request-info">
                                        Подписчики: {{ req.user.profile.get_groupsize_display }}
                                    </div>
                                {% endif %}

                                {% if req.user.profile.author_page_link %}
                                    <div class="request-info">
                                      <a href="{{ req.user.profile.author_page_link }}" target="_blank" class="author-page-link-btn">Перейти</a>
                                    </div>
                                {% endif %}

                                <div class="request-info">Дата обмена: {{ req.date_exchange }}</div>
                                <div class="request-info">Дата подачи: {{ req.date_created }}</div>

                                <form method="post" action="{% url 'toggle-save-request' req.id %}">
                                    {% csrf_token %}
                                    {% if req.saved %}
                                        <button type="submit" class="btn-secondary">Удалить из сохраненных</button>
                                    {% else %}
                                        <button type="submit" class="btn-primary">Сохранить</button>
                                    {% endif %}
                                </form>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Нет доступных заявок.</p>
                    {% endif %}
                </div>
        </div>
    </div>
    <script src="{% static 'scripts/available-requests.js' %}"></script>
</body>
</html>
