<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <title>Заявка на обмен</title>
    <link rel="stylesheet" href="{% static 'styling/base.css' %}" />
    <link rel="stylesheet" href="{% static 'styling/style.css' %}" />
    <link rel="stylesheet" href="{% static 'styling/layout.css' %}" />
    <link rel="stylesheet" href="{% static 'styling/nav.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  </head>
  <body>
    <header>
        <h1>Название</h1>
        {% if user.is_authenticated %}
          <p class="user-greeting">Привет, {{ user.username }}!</p>
          <nav>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
              {% csrf_token %}
              <button class="btn btn-logout" type="submit">Выйти</button>
            </form>
            <!-- Navigation links -->
              <a href="{% url 'home' %}" class="btn-link">Главная</a>
            <a href="{% url 'profile' %}" class="btn-link">Профиль</a>
            <a href="{% url 'requests' %}" class="btn-link">Мои заявки</a>
            <a href="{% url 'available_requests' %}" class="btn-link">Доступные заявки</a>
            <a href="{% url 'request' %}" class="btn-link">Новая заявка</a>
          </nav>
        {% else %}
          <nav>
            <a href="{% url 'register' %}" class="btn-link">Регистрация</a>
            <a href="{% url 'login' %}" class="btn-link">Вход</a>
          </nav>
        {% endif %}
    </header>
    <main class="page-main">
      <div class="form-container">
        <h2>Новая заявка</h2>
        <form id="requestForm" method="post" action="{% url 'request' %}">
          {% csrf_token %}
          {{ form.as_p }}

          <button type="submit">Зарегистрировать заявку</button>
        </form>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        flatpickr('.flatpickr-input', {
            dateFormat: "Y-m-d",
            locale: "ru"
        });
        flatpickr('.unavailable-dates-input', {
            mode: "multiple",
            dateFormat: "Y-m-d",
            locale: "ru"
        });
    });
    </script>
  </body>
</html>
